# ==========================================
# CLÉS STRIPE
# ==========================================
stripe.api.secretKey=votre_clee_strip

# ==========================================
# CLÉS JWT (JSON Web Token)
# ==========================================
# Génère une longue chaîne de caractères aléatoire (au moins 256 bits / 32 caractères)
jwt.secret=mettez_une_cle_secrete_tres_longue_ici
jwt.expiration=86400000

# ==========================================
# OAUTH2 GOOGLE
# ==========================================
spring.security.oauth2.client.registration.google.client-id=votre_client_id_google_ici
spring.security.oauth2.client.registration.google.client-secret=votre_secret_google_ici
spring.security.oauth2.client.registration.google.scope=profile,email

# ==========================================
# OAUTH2 GITHUB
# ==========================================
spring.security.oauth2.client.registration.github.client-id=votre_client_id_github_ici
spring.security.oauth2.client.registration.github.client-secret=votre_secret_github_ici
spring.security.oauth2.client.registration.github.scope=user:email



spring.mail.username=votre_mail
spring.mail.password=le_mot_de_passe_reçu